@import '../../sass/colors';

.lookup {
    .row {
        margin-bottom: 10px;
    }
    .lookup-table > div {
        margin: 10px;
    }

    .lookup-table {
        input.form-control:focus {
            border-color: $input-border-focus lighten($input-border-focus, 5%) lighten($input-border-focus, 5%);

            // override vendor styles
            box-shadow: none;
            //-webkit-box-shadow: $input-box-shadow-focus !important;
        }
    }
}
